@model Turnos.Models.Medico



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>Medico</h4>
    <hr />
    <dl class="row">
        <dt  >
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd    >
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt  >
            @Html.DisplayNameFor(model => model.Apellido)
        </dt>
        <dd    >
            @Html.DisplayFor(model => model.Apellido)
        </dd>
        <dt  >
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>
        <dd    >
            @Html.DisplayFor(model => model.Direccion)
        </dd>
        <dt  >
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>
        <dd    >
            @Html.DisplayFor(model => model.Telefono)
        </dd>
        <dt  >
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd    >
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt  >
            @Html.DisplayNameFor(model => model.HorarioAtencionDesde)
        </dt>
        <dd    >
            @Html.DisplayFor(model => model.HorarioAtencionDesde)
        </dd>
        <dt  >
            @Html.DisplayNameFor(model => model.HorarioAtencionHasta)
        </dt>
        <dd    >
            @Html.DisplayFor(model => model.HorarioAtencionHasta)
        </dd>
         <dt  >
            @Html.DisplayNameFor(model => model.MedicoEspecialidad[0].Especialidad)
        </dt>
        <dd    >
            @Html.DisplayFor(model => model.MedicoEspecialidad[0].Especialidad.Descripcion)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdMedico">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
