@model IEnumerable<Turnos.Models.Paciente>
    <head>
        <meta name="viewport" content="width=device-width" />
    </head>
    <body>
        <h1>Paciente</h1>
        <table class="responsive-table highlight z-depth-3 green lighten-5">
            <thead class="green darken-1 white-text">
                <tr>
                    <th>
                        @Html.DisplayNameFor(modelo => modelo.Nombre)
                    </th>
                    <th>
                        @Html.DisplayNameFor(modelo => modelo.Apellido)
                    </th>
                    <th>
                        @Html.DisplayNameFor(modelo => modelo.Direccion)
                    </th>
                    <th>
                        @Html.DisplayNameFor(modelo => modelo.Telefono)
                    </th>
                    <th>
                        @Html.DisplayNameFor(modelo => modelo.Email)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modeloItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modeloItem => item.Apellido)
                    </td>
                    <td>
                        @Html.DisplayFor(modeloItem => item.Direccion)
                    </td>
                    <td>
                        @Html.DisplayFor(modeloItem => item.Telefono)
                    </td>
                    <td>
                        @Html.DisplayFor(modeloItem => item.Email)
                    </td>
                    <td>
                        <a asp-action="EditPaciente" asp-route-id="@item.IdPaciente"><i class="material-icons">edit</i></a>
                        <a asp-action="Details" asp-route-id="@item.IdPaciente"><i class="material-icons grey-text">more_vert</a> 
                        <a asp-action="DeletePaciente" asp-route-id="@item.IdPaciente"><i class="material-icons red-text">delete</a>
                    </td>
                </tr> 
                }
            </tbody>
        </table>
    </body>
    <p>
        <a class="btn-floating btn-large green darken-1" asp-action="CreatePaciente"><i class="material-icons">person_add</i></a>
    </p>